.dropdown {
  position: relative;
  width: 29rem;
}

.trigger {
  height: 4rem;
  padding-left: 1rem;
  min-width: 29rem;
  width: 100%;
  border: 1px solid var(--black);
  border-radius: 4px;
  color: var(--text-color);
  background-color: var(--bg-input);
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  background: var(--bg-input);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  max-height: 240px;
  z-index: 2000;
  overflow-y: auto;
  cursor: pointer;
}

.menu::-webkit-scrollbar {
  width: 8px;
}

.menu::-webkit-scrollbar-track {
  background: var(--bg-input);
}

.menu::-webkit-scrollbar-thumb {
  background: var(--color-brand-secondary);
  border-radius: 4px;
}

.menu::-webkit-scrollbar-thumb:hover {
  background: var(--color-brand-primary);
}

.item {
  padding: 0.8rem 1rem;
  cursor: pointer;
  color: var(--text-color);
}

.item:hover {
  background: var(--color-brand-primary);
}
