.button {
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-family: var(--font-geist-sans);
  font-size: 1.6rem;
  cursor: pointer;
  background-color: var(--color-brand-secondary);
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
}
