.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photoContainer {
  min-height: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilePhoto {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 16px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gray);
}

.buttonLabel {
  padding: 0px 20px;
  height: 4rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
  min-width: 15rem;
  width: 100%;
  background-color: var(--color-button-primary);
  color: var(--text-color-1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonLabel:hover:not(:disabled) {
  background-color: var(--color-button-primary-hover);
  color: var(--white);
  border: none;
}

.button:disabled {
  background-color: var(--text-color-1);
  cursor: not-allowed;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagePlaceholder {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: var(--bg-color-panel);
}
