.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.chart {
  height: fit-content;
  min-height: 30rem;
}

@media (max-width: 1150px) {
  .container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .label {
    display: none;
  }

  .chart {
    min-height: 20rem;
    max-height: 200rem;
    height: 20rem;
  }
}
