.card {
  background-color: var(--bg-color-nav);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  max-width: 30rem;
  width: 30rem;
  font-size: 1.4rem;
  color: var(--text-color);
}

.header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.icon {
  font-size: 1rem;
}

.title {
  font-weight: bold;
}

.content {
  margin-bottom: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepInfo {
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.navigationButtons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
