.container {
  background-color: var(--bg-color);
  max-height: 50rem;
  z-index: 1000;
  padding: 2rem 3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  border-right: 6px solid var(--bg-color-accent);
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
}

.title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.infoLabel {
  font-size: 1.2rem;
  color: var(--color-grey-2);
}

.description {
  display: -webkit-box;
  /* -webkit-line-clamp: 14; */
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  max-height: 26rem;
}

.fullDescription {
  overflow-y: auto;
  text-align: justify;
  max-height: 42rem;
  height: 42rem;
  padding-right: 2rem;
  scrollbar-gutter: stable;
  font-size: 1.4rem;
}

.descriptionGeneral {
  margin-bottom: 1.4em;
}

.scrollableElement::-webkit-scrollbar {
  width: 0.4rem;
}

.scrollableElement::-webkit-scrollbar-track {
  background: var(--placeholder-bg);
  border-radius: 4px;
}

.scrollableElement::-webkit-scrollbar-thumb {
  background-color: var(--color-brand-secondary);
  border-radius: 4px;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: 2rem;
}

.showMore {
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  align-self: flex-end;
  font-size: 1.2rem;
}

.featureName {
  font-weight: bold;
  display: inline;
  margin-right: 0.6rem;
}

.featureDescription {
  display: inline;
}

.featuresTitle {
  margin-bottom: 1rem;
}

.feature {
  margin-bottom: 2rem;
}

.button {
  width: fit-content;
  align-self: flex-end;
  margin-top: 1rem;
}

@media (max-width: 1150px) {
  .container {
    margin: 0;
    padding: 2rem;
    height: 50rem;
  }
  .description {
    -webkit-line-clamp: 24;
  }
  .fullDescription {
    height: 42rem;
  }
}
