.button {
  background: var(--bg-color);
  border: none;
  cursor: pointer;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 2rem;
  color: var(--text-color);
}

.button:hover {
  background: var(--bg-color-accent);
  color: var(--text-color-2);
}

.message,
.deleteMessage {
  background: var(--bg-color);
  color: var(--text-color);
  border-radius: 0.2rem;
  font-size: 1.2rem;
  padding: 0 0.4rem;
  z-index: 1;
  visibility: hidden;
  margin-bottom: 1rem;
  position: absolute;
  bottom: 2rem;
  right: 0.4rem;
  width: 9.2rem;
}

.buttonMessage:hover .deleteMessage {
  visibility: visible;
}

.buttonMessage:hover .message {
  visibility: visible;
}
