.container {
  margin: 2rem 4rem 4rem 4rem;
  display: flex;
  flex-direction: column;
}

.header {
  margin: 0rem 4rem;
}

.list {
  margin: 0.8rem;
}

.statusContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
  padding: 0.2rem 0.6rem;
}

.loaderContainer,
.errorContainer {
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: flex;
}

@media (max-width: 1150px) {
  .container {
    margin: 2rem 2rem 4rem 2rem;
  }
}
