.container {
  position: relative;
}

.header {
  margin: 0rem 4rem;
}

.list {
  margin: 0.8rem;
}

.itemContainer {
  margin-right: 3rem;
}

.statusContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.emptyList {
  display: flex;
  align-items: center;
  height: 100%;
  margin-bottom: 3rem;
  margin-left: 4rem;
}
