.container {
  padding: 8rem 4rem 4rem 4rem;
  display: flex;
  flex-direction: column;
  background: var(--bg-chat-gradient);
  min-height: calc(100vh - 6rem);
}

.requestsList {
  width: 100%;
}

.loaderContainer,
.errorContainer {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 1150px) {
  .container {
    padding: 2rem 2rem;
    padding-top: 8rem;
    max-width: 100vw;
    flex-direction: column;
    gap: 1rem;
  }

  .loaderContainer,
  .errorContainer {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
