.listContainer {
  display: flex;
  gap: 3rem;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 18px;
  scrollbar-width: none;
  width: 104.6rem;
}

.listContainer::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.scrollWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.arrow {
  background: none;
  border: none;
  font-size: 20px;
  z-index: 1;
  color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
