.container {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  position: relative;
}

.input {
  height: 4rem;
  padding-left: 1rem;
  min-width: 30rem;
  width: 100%;
  border: 1px solid var(--black);
  border-radius: 4px;
  color: var(----text-color);
  background-color: var(--bg-input);
}

.input:focus {
  outline: 1px solid var(--color-brand-primary);
  border: 1px solid var(--color-brand-primary);
}

.label {
  margin-bottom: 0.6rem;
  font-weight: bold;
}

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.secondaryIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: auto;
  cursor: pointer;
}

.error {
  font-size: 1.2rem;
  margin: 0.2rem;
  height: 2.4rem;
  color: var(--color-notification-error);
}
