.container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding-bottom: 1rem;
  width: 100%;
}

.error {
  margin-top: 0.2rem;
  font-size: 0.8rem;
  color: var(--error-color);
}

.label {
  margin-bottom: 0.6rem;
  font-weight: bold;
  font-size: 1.6rem;
}
