.container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  outline: 6px solid var(--white);
  height: 15rem;
  position: relative;
}

.selected {
  outline: 6px solid #ffe5b4;
  height: 15rem;
  transform: scale(1.1);
  transition: transform 0.2s linear;
}

.placeholder {
  width: 10rem;
  height: 15rem;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholderText {
  font-weight: bold;
  color: #ff7575;
}
