.container {
  display: flex;
  justify-content: space-around;
  margin: 3rem 4rem;
}

.formContainer {
  background-color: white;
}

.formTitle {
  font-size: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.message {
  height: 2rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.success {
  color: var(--color-notification-success);
}

.error {
  color: var(--color-notification-error);
}

@media (max-width: 1150px) {
  .formContainer {
    margin: 3rem 2rem;
    width: 100%;
  }
}
