@media (max-width: 1150px) {
  .titleAuthor {
    flex-direction: column;
    gap: 0;
    width: 100%;
  }
  .inputs {
    flex-direction: column;
    gap: 0.4rem;
    align-items: start;
    width: 100%;
  }
  .button {
    margin-bottom: 2rem;
  }
}
