.button {
  padding: 0px 20px;
  height: 3.6rem;
  border: 1px solid var(--black);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
  min-width: 15rem;
  width: 100%;
}

.primary {
  background-color: var(--black);
  color: var(--white);
}

.secondary {
  background-color: var(--white);
  color: var(--black);
}

.button:hover:not(:disabled) {
  background-color: var(--color-brand-secondary);
  color: var(--black);
  border: 1px solid var(--color-brand-secondary);
}

.button:disabled {
  background-color: var(--white);
  cursor: not-allowed;
}
