.button {
  padding: 0px 20px;
  height: 4rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
  min-width: 15rem;
  width: 100%;
}

.primary {
  background-color: var(--color-button-primary);
  color: var(--text-color-1);
}

.primary:hover:not(:disabled) {
  background-color: var(--color-button-primary-hover);
  color: var(--white);
  border: none;
}

.secondary {
  background-color: var(--color-button-secondary);
  color: var(--black);
}

.secondary:hover:not(:disabled) {
  background-color: var(--color-button-secondary-hover);
  color: var(--white);
  border: none;
}

.button:disabled {
  background-color: var(--text-color);
  cursor: not-allowed;
}
