.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  gap: 0.6rem;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0.6rem;
  width: fit-content;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
}
