.button {
  border: none;
  cursor: pointer;
  display: flex;
  gap: 0.6rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color-button-secondary);
  color: var(--text-color);
  padding: 0.3rem 0.8rem;
  border-radius: 0.4rem;
  width: fit-content;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
}
