.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  background: none;
  border: none;
  font-size: 20px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-width: 2.6rem;
  min-height: 2.6rem;
  border-radius: 1.3rem;
  background-color: var(--color-brand-secondary);
  margin: 0.4rem;
}

.button:disabled {
  background-color: transparent;
  cursor: not-allowed;
  visibility: hidden;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  color: var(--light-gray);
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: var(--color-brand-secondary);
  border: none;
}

.dot.active {
  background-color: var(--color-brand-primary);
}
