.container {
  padding: 8rem 4rem 0rem 4rem;
  background: var(--bg-chat-gradient);
  height: calc(100vh - 6rem);
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.emptyContainer {
  padding: 8rem 4rem 0rem 4rem;
  display: flex;
  flex-direction: column;
}

.chatWrapper {
  width: 100%;
  height: 100%;
}

.buttonWrapper {
  display: none;
  width: 100%;
  justify-content: flex-end;
}

.loaderContainer,
.errorContainer {
  margin: 4rem;
  display: flex;
}

@media (max-width: 1150px) {
  .container {
    padding: 2rem 2rem;
    padding-top: 8rem;
    max-width: 100vw;
    flex-direction: column;
    gap: 2rem;
  }

  .buttonWrapper {
    display: flex;
    justify-content: start;
  }

  .backButton {
    cursor: pointer;
    color: var(--color-button-primary);
    background-color: unset;
    border: none;
    width: 3.6rem;
    height: 3.6rem;
    display: flex;
  }

  .backButtonIcon {
    font-size: 4rem;
  }
}
