.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-top: 8rem;
  margin-bottom: 2rem;
}

.formContainer {
  margin: 4rem;
  width: 40rem;
}

.formTitle {
  font-size: 2.4rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.error {
  margin-top: 0.4rem;
  margin-left: 0.2rem;
  color: var(--color-notification-error);
  height: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.redirectText {
  margin-top: 1rem;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redirect {
  font-weight: bold;
  margin-left: 0.6rem;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.googleLogIn {
  margin-top: 2rem;
}

.googleButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.googleIcon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.plainButton {
  background-color: transparent;
  border: none;
  margin-left: 0.6rem;
  font-weight: bold;
}

@media (max-width: 1150px) {
  .formContainer {
    margin: 0 3rem;
  }

  .formTitle {
    margin-bottom: 2.2rem;
    line-height: 3rem;
  }

  .imageContainer {
    display: none;
  }
}
