.container {
  border-radius: 4px;
  font-weight: 500;
  font-size: 1.2rem;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0.4rem 1rem;
  height: 2.4rem;
}
