.container {
  height: 2rem;
  border-radius: 4px;
  font-weight: 500;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0 0.6rem;
  font-size: 1rem;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
}
