.container {
  margin: 2rem 4rem;
  display: flex;
  flex-direction: column;
}

.detailsContainer {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  margin-top: 1rem;
}

.titleAuthor {
  display: flex;
  gap: 0.6rem;
  width: 100%;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.hidden {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
}

.visible {
  height: 22rem;
  overflow: hidden;
  transition: height 0.5s ease;
}

.majorInfo {
  display: flex;
  flex-direction: column;
  min-width: 10rem;
  margin-right: 2rem;
}

.title {
  font-weight: bold;
}

.info {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
  width: auto;
}

.infoLabel {
  font-size: 1.2rem;
  color: var(--gray);
}

.ratingContainer {
  display: flex;
  gap: 0.2rem;
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  justify-content: center;
  align-self: flex-end;
  margin-top: 1rem;
  margin-right: 2rem;
}

.myBookInfo {
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: flex-end;
  margin-right: 2rem;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  word-break: break-word;
  overflow-wrap: break-word;
}

.fullDescription {
  overflow-y: auto;
  text-align: justify;
  max-height: 16rem;
  padding-right: 2rem;
  scrollbar-gutter: stable;
  font-size: 1.4rem;
}
.scrollableElement::-webkit-scrollbar {
  width: 0.4rem;
}

.scrollableElement::-webkit-scrollbar-track {
  background: var(--placeholder-bg);
  border-radius: 4px;
}

.scrollableElement::-webkit-scrollbar-thumb {
  background-color: var(--color-brand-secondary);
  border-radius: 4px;
}

@media (max-width: 1150px) {
  .visible {
    height: 100%;
    overflow: auto;
  }
  .detailsContainer {
    flex-direction: column;
    gap: 0rem;
  }
  .container {
    margin: 2rem 3rem;
  }
}
@media (max-width: 700px) {
  .titleContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
  .myBookInfo {
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }
  .titleAuthor {
    flex-direction: column;
  }
  .separator {
    display: none;
  }
}
