.itemContainer {
  margin-right: 2.6rem;
}

.container {
  padding: 0rem 4rem;
  display: flex;
  flex-direction: column;
  height: 25rem;
}

.detailsContainer {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.majorInfo {
  display: flex;
  flex-direction: column;
  width: 10rem;
  min-width: 10rem;
  margin-right: 2rem;
}

.title {
  font-weight: bold;
  font-size: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
  width: max-content;
}

.infoLabel {
  font-size: 1.2rem;
  color: var(--gray);
}

.ratingContainer {
  display: flex;
  gap: 0.2rem;
}

.description {
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ownContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.myBookInfo {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.text {
  word-break: break-word;
  overflow-wrap: break-word;
}
