.navigationBar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: var(--bg-color-nav);
  padding: 1rem 4rem;
  z-index: 5000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 3rem;
}

.navLinks,
.navIconLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.navIconLinks {
  gap: 1rem;
}

.navLink {
  padding: 1rem 2rem 0.8rem 2rem;
  cursor: pointer;
  border-bottom: 2px solid var(--bg-color-nav);
}

.navLink,
.navIconLink {
  margin-left: 0;
  cursor: pointer;
  border-bottom: 2px solid var(--bg-color-nav);
  position: relative;
}

.navLink:hover {
  background-color: var(--color-button-secondary-nav-hover);
  color: var(--text-color);
  border-radius: 0.4rem;
}

.navLinkNameSelected {
  border-bottom: 2px solid var(--color-brand-primary);
  border-top: 2px solid transparent;
  padding-bottom: 0.2rem;
}

.navLinkName {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  padding-bottom: 0.2rem;
}

.round {
  width: 3.6rem;
  height: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
  background-color: var(--color-button-secondary);
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1.6rem;
  color: var(--text-color-2);
  border: none;
}

.round:hover {
  background-color: var(--color-brand-primary);
  color: var(--white);
  border: 1px solid transparent;
}

.notification {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: var(--color-notification-alert);
}

.hamburgerMenu {
  font-size: 3rem;
  display: none;
  background-color: transparent;
  border: none;
  color: var(--text-color);
}

.mobileContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.mobileContentBlur {
  background: var(--popup-backdrop);
  -webkit-backdrop-filter: blur(0.6rem);
  backdrop-filter: blur(0.6rem);
  width: 100%;
  height: 100%;
  display: none;
}

.mobileNavIconLinks {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  position: absolute;
  right: 0rem;
  top: 0rem;
  background-color: var(--bg-color);
  padding: 2rem 1rem;
  align-items: flex-start;
  justify-content: start;
  height: 100vh;
  z-index: 2000;
}

.mobileNavIconLink {
  width: 100%;
  height: fit-content;
  padding: 0.6rem 1.4rem;
  border-radius: 0.4rem;
  font-size: 1.8rem;
}

.mobileNavIconLink:hover {
  background-color: var(--color-brand-primary);
  color: var(--white);
  cursor: pointer;
}

.mobileCloseButtonWrapper {
  align-self: flex-end;
  height: 3rem;
}

.mobileCloseButton {
  all: unset;
  cursor: pointer;
  font-size: 3rem;
}

.onboardingIcon {
  font-size: 1.8rem;
  padding-top: 0;
}

@media (max-width: 1150px) {
  .navigationBar {
    margin: 0;
  }
  .navLinks,
  .navIconLinks {
    display: none;
  }
  .hamburgerMenu {
    display: flex;
  }
  .mobileContentBlur {
    display: block;
  }
  .buttonLink {
    width: 100%;
  }
}
