:root {
  --font-geist-sans: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  /* Main colors */
  --white: rgb(255, 255, 255);
  --white-90: rgba(255, 255, 255, 0.95);
  --black: rgb(0, 0, 0);
  --color-brand-primary: rgb(254, 186, 69);
  --color-brand-secondary: rgb(244, 241, 222);
  --color-brand-dark: #080a1a;
  --color-brand-brown: rgb(66, 59, 11);
  --color-brand-gray: rgb(140, 147, 168);
  --color-brand-gray-50: rgba(140, 147, 168, 0.5);
  /* Text colors */
  --text-color: var(--black); /* b > w */
  --text-color-1: var(--white); /* w > b */
  --text-color-2: var(--black); /* b > b */
  /* Background colors */
  --bg-color-nav: var(--white);
  --bg-color-panel: rgb(244, 241, 222, 0.5);
  --bg-color-page: var(--white);
  --bg-color-accent: rgb(255, 222, 150);
  --bg-color: var(--white);
  --bg-input: var(--white);

  --bg-color-chat: var(--color-brand-primary);
  --bg-color-chat-1: var(--color-brand-primary);
  --bg-chat-gradient: var(--white);
  --bg-scrollbar: var(--color-brand-dark);
  --bg-color-footer: var(--color-brand-secondary);
  /* UI specific variables */
  --popup-backdrop: #e9eaf2cc;
  --popup-bg: var(--white);
  --button-bg: var(--black);
  --button-text: var(--white);
  --placeholder-bg: var(--white);
  --accent-blue: #184e7e;
  --border-color: var(--black);
  /* Chart palette variables */
  --chart-1: #ffd386;
  --chart-2: #b55e06ff;
  --chart-3: #fbcadfff;
  --chart-4: #005248;
  --chart-5: #d272fc;
  --chart-6: #541b05ff;
  --chart-7: #184e7e;
  --chart-8: #bd96c1ff;
  --chart-9: #00afb9;
  --chart-10: #ff6f61;
  --chart-11: #6b5b95;
  --chart-12: #d65076;
  --fallback-color: #cccccc;
  /* Notification */
  --color-notification-success: #56ca5a;
  --color-notification-error: #ff4419;
  --color-notification-alert: #ff4419;
  /* Buttons */
  --color-button-primary: var(--color-brand-dark);
  --color-button-primary-hover: var(--color-brand-primary);
  --color-button-secondary: var(--color-brand-secondary);
  --color-button-secondary-hover: var(--color-brand-primary);
  --color-button-special: var(--color-brand-dark);
}

:root[data-theme="dark"] {
  /* Text */
  --text-color: var(--white-90);
  --text-color-1: var(--black);
  --text-color-2: var(--black);
  /* Background */
  --bg-color-nav: var(--color-brand-dark);
  --bg-color-panel: rgb(255, 255, 255, 0.05);
  --bg-color-page: rgb(255, 255, 255, 0.05);
  --bg-color: #202233;
  --bg-input: #ffffff21;
  --bg-color-footer: var(--color-brand-dark);
  /* UI specific variables */
  --popup-backdrop: #171a30cc;
  --bg-scrollbar: var(--color-brand-dark);
  --popup-bg: var(--color-brand-dark);
  --bg-color-chat: #d272fc;
  --bg-color-chat-1: var(--color-brand-dark);
  --border-color: transparent;
  --bg-chat-gradient: linear-gradient(
    135deg,
    #ffffff21 0%,
    var(--color-brand-dark) 100%
  );
  /* Buttons */
  --color-button-primary: var(--color-brand-primary);
  --color-button-primary-hover: var(--color-brand-primary);
  --color-button-secondary: var(--color-brand-secondary);
  --color-button-secondary-hover: var(--color-brand-primary);
  --color-button-special: var(--color-brand-dark);
}

html {
  /* 62.5% of 16px user agent font size is 10px */
  font-size: 62.5%;
}

body {
  font-family: var(--font-geist-sans);
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

path.leaflet-interactive:focus {
  outline: none;
}

.leaflet-tooltip {
  font-size: 1.2rem;
}

.recharts-wrapper * {
  outline: none;
  min-height: 15rem;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* For Large Desktop View */
@media (min-width: 1200px) {
}

/* For Desktop View */
@media screen and (min-width: 1024px) {
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
}
