.container {
  margin: 2rem 4rem;
}

.form {
  display: flex;
  width: max-content;
  flex-direction: column;
}

.notification {
  font-size: 1.4rem;
  height: 2rem;
  margin-left: 1rem;
}

.select,
.button {
  margin-bottom: 1rem;
  max-width: 30rem;
}

.tittleAuthor {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.author {
  margin-top: 2.4rem;
}

@media (max-width: 850px) {
  .container {
    margin: 1rem 2rem;
  }
  .tittleAuthor {
    flex-direction: column;
    gap: 0;
    width: 100%;
  }
  .inputs,
  .form {
    flex-direction: column;
    gap: 0.4rem;
    align-items: start;
    width: 100%;
  }
  .inputContainer {
    width: 100%;
  }
  .author {
    margin-top: 0;
  }
  .select,
  .input,
  .button {
    margin-bottom: 1rem;
    max-width: none;
  }
}
