.container {
  position: relative;
  margin: 4rem 4rem 2rem 4rem;
}

.header {
  margin: 0rem 4rem;
}

.list {
  margin: 0.8rem;
}

.statusContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ratingContainer {
  border: 1px solid var(--text-color);
  display: flex;
  gap: 0.6rem;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
  width: fit-content;
  height: 2.4rem;
}

.stars {
  display: flex;
  align-items: center;
}

.loaderContainer,
.errorContainer {
  margin: 8rem 4rem;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1150px) {
  .container {
    margin: 2rem;
  }

  .loaderContainer,
  .errorContainer {
    margin: 4rem;
    display: flex;
  }
}
