.closButtonContainer {
  display: flex;
  align-items: end;
  justify-content: end;
  margin-bottom: 2rem;
}

.closeButton {
  width: 2rem;
  height: 2rem;
  background-color: var(--color-button-primary);
  color: var(--text-color);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.buttonIcon {
  color: var(--text-color-1);
  font-size: 1.6rem;
  margin-top: 0.4rem;
  font-weight: normal;
}
