.container {
  padding: 8rem 4rem 0rem 4rem;
  display: flex;
  gap: 8rem;
  background: var(--bg-chat-gradient);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.input {
  height: 4rem;
  padding-left: 1rem;
  min-width: 30rem;
  width: 100%;
  border: 1px solid var(--black);
  border-radius: 4px;
  color: var(----text-color);
  background-color: var(--bg-input);
}

@media (max-width: 1150px) {
  .container {
    padding: 2rem 2rem;
    padding-top: 8rem;
    max-width: 100vw;
    flex-direction: column;
    gap: 2rem;
  }
}
