.container {
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
  border-left: 6px solid var(--color-brand-secondary);
  margin: 0rem 4rem 4rem 4rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

.header {
  margin: 1rem 4rem;
  margin-top: 2rem;
}

.statusContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.emptyList {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 4rem;
  margin-bottom: 2rem;
}

.title {
  font-family: Pacifico, Pacifico Fallback;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
}

.noSelectedItem {
  margin: 2rem 4rem;
  font-weight: bold;
}

@media (max-width: 1500px) {
  .container {
    margin: 0rem 3rem 3rem 3rem;
    padding: 0px;
  }
  .header {
    margin: 0rem 4rem;
    margin-top: 1rem;
  }
  .noSelectedItem {
    margin-top: 1rem;
  }
}
@media (max-width: 700px) {
  .container {
    margin: 0rem 1rem 2rem 1rem;
  }
}
