.container {
  width: 10rem;
  height: 0.6rem;
  background-color: var(--gray);
  margin-top: 2rem;
  opacity: 0.5;
}

.progress {
  width: 0;
  height: 100%;
  background-color: var(--color-brand-primary);
  transition: width 0.5s ease-in-out;
}
