.container {
  background-color: var(--bg-color-page);
  margin-top: 2rem;
  z-index: 1000;
  padding: 2rem 3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  border-right: 6px solid var(--bg-color-accent);
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
}

.actionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: end;
}

.label {
  margin-bottom: 1rem;
}

.title {
  font-weight: bold;
  font-size: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.infoLabel {
  font-size: 1.2rem;
  color: var(--color-grey-2);
}

.ratingContainer {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: justify;
  font-size: 1.4rem;
}

.fullDescription {
  overflow-y: auto;
  text-align: justify;
  max-height: 37rem;
  padding-right: 2rem;
  scrollbar-gutter: stable;
  font-size: 1.4rem;
}
.scrollableElement::-webkit-scrollbar {
  width: 0.4rem;
}

.scrollableElement::-webkit-scrollbar-track {
  background: var(--placeholder-bg);
  border-radius: 4px;
}

.scrollableElement::-webkit-scrollbar-thumb {
  background-color: var(--color-brand-secondary);
  border-radius: 4px;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: 2rem;
}

.showMore {
  font-weight: bold;
  cursor: pointer;
  margin-top: 0.4rem;
  align-self: flex-end;
  font-size: 1.2rem;
}

.button {
  width: fit-content;
  align-self: flex-end;
  margin-top: 1rem;
}

.notRated {
  font-size: 1.2rem;
  color: var(--gray);
}

@media (max-width: 1150px) {
  .container {
    padding: 2rem 2rem;
    height: 50rem;
    overflow: hidden;
  }
  .description {
    -webkit-line-clamp: 8;
  }
  .fullDescription {
    height: 50rem;
    overflow: hidden;
  }
}
