.container {
  background-color: var(--white);
  border-right: 6px solid var(--color-brand-secondary);
  width: 40rem;
  height: 51rem;
  position: absolute;
  top: 8rem;
  right: 4rem;
  z-index: 1000;
  padding: 2rem 3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
}

.actionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: end;
}

.title {
  font-weight: bold;
  font-size: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.infoLabel {
  font-size: 1.2rem;
  color: var(--color-grey-2);
}

.ratingContainer {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: justify;
  font-size: 1.4rem;
}

.fullDescription {
  overflow-y: auto;
  text-align: justify;
  max-height: 37rem;
  padding-right: 2rem;
  scrollbar-gutter: stable;
  font-size: 1.4rem;
}
.scrollableElement::-webkit-scrollbar {
  width: 0.4rem;
}

.scrollableElement::-webkit-scrollbar-track {
  background: #fafafa;
  border-radius: 4px;
}

.scrollableElement::-webkit-scrollbar-thumb {
  background-color: var(--color-brand-secondary);
  border-radius: 4px;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: 2rem;
}

.showMore {
  font-weight: bold;
  cursor: pointer;
  margin-top: 0.4rem;
  align-self: flex-end;
  font-size: 1.2rem;
}

.button {
  width: fit-content;
}

.notRated {
  font-size: 1.2rem;
  color: var(--gray);
}

.welcomeContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100%;
}

.welcomeStepContainer {
  display: flex;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
}

.welcomeStep {
  font-weight: bold;
  margin-right: 1rem;
  font-size: 3rem;
  color: var(--color-brand-secondary);
}

.welcome {
  align-self: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}
