.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Full height excluding text area and buttons (scrolling chat with actions visible) */
  height: calc(100vh - 16rem);
  gap: 1rem;
  width: 100%;
}

.list {
  list-style: none;
  width: 100%;
  overflow-y: auto;
  padding-right: 2rem;
  font-size: 1.2rem;
}

.listItem {
  padding: 1rem 1rem;
  margin-bottom: 0.4rem;
  border-radius: 0.4rem;
  width: fit-content;
  max-width: 70%;
}

.own {
  text-align: right;
  background-color: var(--bg-color-chat);
  margin-left: auto;
  margin-right: 0;
}

.received {
  text-align: left;
  background-color: var(--bg-color-chat-1);
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.action {
  display: flex;
  gap: 2rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.iconAttach svg {
  display: flex;
  height: 2rem;
  width: 2rem;
}

.iconSend svg {
  display: flex;
  height: 1.6rem;
  width: 1.6rem;
}

.listItemWrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.2rem;
  margin-bottom: 0.6rem;
}

.itemOwn {
  align-items: end;
}

.itemReceived {
  align-items: start;
}

.timestamp {
  font-size: 1rem;
}
.dateDivider {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.scrollContainer :global(::-webkit-scrollbar) {
  width: 8px;
}

.scrollContainer :global(::-webkit-scrollbar-thumb) {
  background-color: var(--bg-scrollbar);
  border-radius: 6px;
}

.scrollContainer :global(::-webkit-scrollbar-track) {
  border: 2px solid #ffffff21;
  border-radius: 2rem;
}

@media (max-width: 1150px) {
  .container {
    /* Full height excluding text area and buttons (scrolling chat with actions visible) */
    height: calc(100vh - 19rem);
  }

  .action {
    flex-direction: column;
  }
  .buttons {
    flex-direction: row;
  }
}
