.container {
  min-width: 25rem;
}

.title {
  font-weight: bold;
  margin-bottom: 2rem;
}

.item {
  padding: 0.4rem 0.4rem;
  margin-bottom: 0.4rem;
  border-radius: 0.4rem;
  min-width: 25rem;
  cursor: pointer;
  border: 1px solid transparent;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: start;
  background-color: unset;
  color: var(--text-color);
}

.selected {
  background-color: var(--color-button-secondary);
}

.item:hover {
  background-color: var(--color-button-secondary);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profilePhoto {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gray);
  /* border: 1px solid var(--border-color); */
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagePlaceholder {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background: var(--placeholder-bg);
}

@media (max-width: 1150px) {
  .item {
    width: 100%;
  }
  .containerDisplay {
    display: none;
  }
}
