.container {
  padding: 8rem 4rem 0rem 4rem;
  display: flex;
  gap: 8rem;
  background: var(--bg-chat-gradient);
}

.select {
  height: 4rem;
  padding-left: 1rem;
  padding-right: 2rem;
  padding-left: 1rem;
  width: 100%;
  border: 1px solid var(--black);
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 3.2rem;
  color: var(--text-color);
  background-color: var(--bg-input);
  max-width: 30rem;
}

.setting {
  width: 100%;
}

@media (max-width: 1150px) {
  .container {
    padding: 2rem 2rem;
    padding-top: 8rem;
    max-width: 100vw;
    flex-direction: column;
    gap: 2rem;
  }

  .select {
    width: 100%;
    max-width: unset;
  }
}
